[Unit]
Description=Sorts download directory
Documentation=https://github.com/GoldfishPi/syds

[Service]
ExecStart=%h/.cargo/bin/syds -d %h/Downloads
Restart=always
RestartSec=12

[Path]
PathChanged=%h/.cargo/bin/syds

[Install]
WantedBy=default.target

